<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Transferencias</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tablas.css' %}">
</head>
<body class="transferencia-list">
    <div class="container">
        <h1>Lista de Transferencias</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Sucursal Origen</th>
                    <th>Sucursal Destino</th>
                    <th>Medicamento</th>
                    <th>Cantidad</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for transferencia in transferencias %}
                    <tr>
                        <td>{{ transferencia.sucursal_origen }}</td>
                        <td>{{ transferencia.sucursal_destino }}</td>
                        <td>{{ transferencia.medicamento }}</td>
                        <td>{{ transferencia.cantidad_transferencia }}</td>
                        <td>{{ transferencia.fecha }}</td>
                        <td>
                            <a href="{% url 'transferencia_update' transferencia.pk %}"><button class="edit">Editar</button></a>
                            <a href="{% url 'transferencia_delete' transferencia.pk %}"><button class="delete">Eliminar</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'transferencia_create' %}"><button>Crear Transferencia</button></a>
        <a href="{% url 'management_system' %}"><button>Volver al Sistema de Gestión</button></a>
    </div>
</body>
</html>