/* static/css/home_login.css */

/* Import Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../img/HD-wallpaper-turquoise-sea-underwater-turquoise.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    opacity: 0.5; /* Ajusta la opacidad según sea necesario */
    z-index: -1; /* Asegura que el fondo esté detrás del contenido */
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    font-family: 'Roboto', sans-serif;
    background: #f0f0f0;
}

.container {
    text-align: center;
}

h1 {
    font-size: 3em;
    margin-bottom: 20px;
}

a {
    display: inline-block;
    margin: 10px 20px;
    font-size: 1.5em;
}

a button {
    padding: 15px 30px;
    font-size: 1.2em;
}


h1, h2 {
    color: #000; /* Teal color for headings */
    text-align: center;
    margin-top: 20px;
}

form {
    background: #fff;
    padding: 30px;
    margin: 20px auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 2px solid #00796b; /* Teal border */
}

form input, form button {
    width: 100%;
    padding: 12px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
}

form input:focus {
    border-color: #00796b; /* Teal border on focus */
    box-shadow: 0 0 5px rgba(0, 121, 107, 0.5);
    outline: none;
}

form button {
    background-color: #00796b; /* Teal button */
    color: white;
    border: none;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

form button:hover {
    background-color: #004d40; /* Darker teal on hover */
}

a {
    display: inline-block;
    margin: 10px 0;
    color: #00796b;
    text-decoration: none;
    font-size: 16px;
}

a button {
    background-color: #00796b; /* Teal button */
    color: white;
    border: none;
    padding: 12px;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

a button:hover {
    background-color: #004d40; /* Darker teal on hover */
}