<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Ventas</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tablas.css' %}">
</head>
<body class="venta-list">
    <div class="container">
        <h1>Lista de Ventas</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Cliente</th>
                    <th>Sucursal</th>
                    <th>Tipo de pago</th>
                    <th>Fecha</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for venta in ventas %}
                    <tr>
                        <td>{{ venta.cliente }}</td>
                        <td>{{ venta.sucursal }}</td>
                        <td>{{ venta.tipo_pago }}</td>
                        <td>{{ venta.fecha }}</td>
                        <td>
                            <a href="{% url 'venta_update' venta.pk %}"><button class="edit">Editar</button></a>
                            <a href="{% url 'venta_delete' venta.pk %}"><button class="delete">Eliminar</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'venta_create' %}"><button>Crear Venta</button></a>
        <a href="{% url 'management_system' %}"><button>Volver al Sistema de Gestión</button></a>
    </div>
</body>
</html>