<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Formulario de Medicamento</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tablas.css' %}">
</head>
<body>
    <div class="container">
        <h1>Formulario de Medicamento</h1>
        <form method="post">
            {% csrf_token %}
            <table class="form-table">
                {{ form.as_table }}
            </table>
            <button type="submit">Guardar</button>
        </form>
        <a href="{% url 'medicamento_list' %}">Volver a la lista</a>
    </div>
</body>
</html>