<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Medicamentos</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tablas.css' %}">
</head>
<body class="medicamento-list">
    <div class="container">
        <h1>Lista de Medicamentos</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Descripción</th>
                    <th>Presentación</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for medicamento in medicamentos %}
                    <tr>
                        <td>{{ medicamento.nombre_medicamento }}</td>
                        <td>{{ medicamento.descripcion }}</td>
                        <td>{{ medicamento.presentación }}</td>
                        <td>
                            <a href="{% url 'medicamento_update' medicamento.pk %}"><button class="edit">Editar</button></a>
                            <a href="{% url 'medicamento_delete' medicamento.pk %}"><button class="delete">Eliminar</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'medicamento_create' %}"><button>Crear Medicamento</button></a>
        <a href="{% url 'management_system' %}"><button>Volver al Sistema de Gestión</button></a>
    </div>
</body>
</html>