<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Sucursales</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tablas.css' %}">
</head>
<body class="sucursal-list">
    <div class="container">
        <h1>Lista de Sucursales</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Dirección</th>
                    <th>Teléfono</th>
                    <th>Farmacia</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for sucursal in sucursales %}
                    <tr>
                        <td>{{ sucursal.nombre }}</td>
                        <td>{{ sucursal.dirección }}</td>
                        <td>{{ sucursal.teléfono }}</td>
                        <td>{{ sucursal.farmacia }}</td>
                        <td>
                            <a href="{% url 'sucursal_update' sucursal.pk %}"><button class="edit">Editar</button></a>
                            <a href="{% url 'sucursal_delete' sucursal.pk %}"><button class="delete">Eliminar</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'sucursal_create' %}"><button>Crear Sucursal</button></a>
        <a href="{% url 'management_system' %}"><button>Volver al Sistema de Gestión</button></a>
    </div>
</body>
</html>