<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Lista de Farmacias</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tablas.css' %}">
</head>
<body class="farmacia-list">
    <div class="container">
        <h1>Lista de Farmacias</h1>
        <table class="styled-table">
            <thead>
                <tr>
                    <th>Nombre</th>
                    <th>Acciones</th>
                </tr>
            </thead>
            <tbody>
                {% for farmacia in farmacias %}
                    <tr>
                        <td>{{ farmacia.nombre }}</td>
                        <td>
                            <a href="{% url 'farmacia_update' farmacia.pk %}"><button class="edit">Editar</button></a>
                            <a href="{% url 'farmacia_delete' farmacia.pk %}"><button class="delete">Eliminar</button></a>
                        </td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
        <a href="{% url 'farmacia_create' %}"><button>Crear Farmacia</button></a>
        <a href="{% url 'management_system' %}"><button>Volver al Sistema de Gestión</button></a>
    </div>
</body>
</html>