<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <title>Confirmar Eliminación</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/tablas.css' %}">
</head>
<body class="inventario-list">
    <div class="container">
        <h1>Confirmar Eliminación</h1>
        <p>¿Estás seguro de que deseas eliminar el inventario de {{ inventario.nombre }}?</p>
        <form method="post">
            {% csrf_token %}
            <button type="submit" class="delete">Eliminar</button>
        </form>
        <a href="{% url 'inventario_list' %}"><button>Cancelar</button></a>
    </div>
</body>
</html>